# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Regression Model Evaluation

In [2]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
data = pd.read_csv('housing.csv', header=None, delimiter=r"\s+", names=column_names)

In [3]:
"""
CRIM - per capita crime rate by town
ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS - proportion of non-retail business acres per town.
CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
NOX - nitric oxides concentration (parts per 10 million)
RM - average number of rooms per dwelling
AGE - proportion of owner-occupied units built prior to 1940
DIS - weighted distances to five Boston employment centres
RAD - index of accessibility to radial highways
TAX - full-value property-tax rate per $10,000
PTRATIO - pupil-teacher ratio by town
B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT - % lower status of the population
MEDV - Median value of owner-occupied homes in $1000's"""

"\nCRIM - per capita crime rate by town\nZN - proportion of residential land zoned for lots over 25,000 sq.ft.\nINDUS - proportion of non-retail business acres per town.\nCHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)\nNOX - nitric oxides concentration (parts per 10 million)\nRM - average number of rooms per dwelling\nAGE - proportion of owner-occupied units built prior to 1940\nDIS - weighted distances to five Boston employment centres\nRAD - index of accessibility to radial highways\nTAX - full-value property-tax rate per $10,000\nPTRATIO - pupil-teacher ratio by town\nB - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\nLSTAT - % lower status of the population\nMEDV - Median value of owner-occupied homes in $1000's"

In [4]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [1]:
# Your code here :
 
import pandas as pd
from sklearn.model_selection import train_test_split

# Load data
column_names = [
    'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 
    'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'
]
data = pd.read_csv(
    r'C:\Users\gulme\Desktop\aifirstclass\lab-supervised-learning-model-evaluation-en\your-code\housing.csv',
    header=None,
    delimiter=r"\s+",
    names=column_names
)

# Split data into features (X) and target (y)
X = data.drop('MEDV', axis=1)
y = data['MEDV']

# Split into training (80%) and test (20%) sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Confirm split sizes
print(X_train.shape, X_test.shape)

(404, 13) (102, 13)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [2]:
# Your code here :
from sklearn.linear_model import LinearRegression

# Initialize model
model = LinearRegression()

# Train model
model.fit(X_train, y_train)

# Generate predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Display sample predictions
print("Train predictions sample:", y_train_pred[:5])
print("Test predictions sample:", y_test_pred[:5])

Train predictions sample: [10.96952405 19.41196567 23.06419602 12.1470648  18.3738116 ]
Test predictions sample: [28.99672362 36.02556534 14.81694405 25.03197915 18.76987992]

## 3. Calculate and print R-squared for both the training and the testing set.

In [3]:
# Your code here :
from sklearn.metrics import r2_score

# Compute R-squared for training and testing sets
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

print("R-squared (Train):", r2_train)
print("R-squared (Test):", r2_test)

R-squared (Train): 0.7508856358979673
R-squared (Test): 0.6687594935356317

## 4. Calculate and print mean squared error for both the training and the testing set.

In [4]:
# Your code here :
from sklearn.metrics import mean_squared_error

# Compute mean squared error
mse_train = mean_squared_error(y_train, y_train_pred)
mse_test = mean_squared_error(y_test, y_test_pred)

print("Mean Squared Error (Train):", mse_train)
print("Mean Squared Error (Test):", mse_test)

Mean Squared Error (Train): 21.641412753226312
Mean Squared Error (Test): 24.291119474973538

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [5]:
# Your code here :
from sklearn.metrics import mean_absolute_error

# Compute mean absolute error
mae_train = mean_absolute_error(y_train, y_train_pred)
mae_test = mean_absolute_error(y_test, y_test_pred)

print("Mean Absolute Error (Train):", mae_train)
print("Mean Absolute Error (Test):", mae_test)

Mean Absolute Error (Train): 3.3147716267832252
Mean Absolute Error (Test): 3.1890919658878416

## Classification Model Evaluation

In [6]:
from sklearn.datasets import load_iris
data = load_iris()

print(data.feature_names)
print(data.target_names)
print(data.data.shape)
print(data.target.shape)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']
(150, 4)
(150,)

In [8]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [9]:
column_names = data.feature_names

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [13]:
df = pd.DataFrame(data['data'],columns=column_names)

In [14]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [15]:
target = pd.DataFrame(data.target)

In [16]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [17]:
data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [12]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

# Load data
data = load_iris()
column_names = data.feature_names
df = pd.DataFrame(data['data'], columns=column_names)
target = pd.DataFrame(data.target)

# Split data
X = df
y = target[0]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

print(X_train.shape, X_test.shape)

(120, 4) (30, 4)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [13]:
# Your code here :

from sklearn.linear_model import LogisticRegression

# Initialize and train model
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

# Generate predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Display sample predictions
print("Train predictions sample:", y_train_pred[:5])
print("Test predictions sample:", y_test_pred[:5])

Train predictions sample: [0 1 1 0 1]
Test predictions sample: [0 2 1 1 0]

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [14]:
# Your code here : 
from sklearn.metrics import accuracy_score

# Compute accuracy
acc_train = accuracy_score(y_train, y_train_pred)
acc_test = accuracy_score(y_test, y_test_pred)

print("Accuracy (Train):", acc_train)
print("Accuracy (Test):", acc_test)

Accuracy (Train): 0.975
Accuracy (Test): 0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [15]:
# Your code here :

from sklearn.metrics import balanced_accuracy_score

# Compute balanced accuracy
bal_acc_train = balanced_accuracy_score(y_train, y_train_pred)
bal_acc_test = balanced_accuracy_score(y_test, y_test_pred)

print("Balanced Accuracy (Train):", bal_acc_train)
print("Balanced Accuracy (Test):", bal_acc_test)

Balanced Accuracy (Train): 0.975
Balanced Accuracy (Test): 0.9666666666666667

## 10. Calculate and print the precision score for both the training and the testing set.

In [16]:
# Your code here :
from sklearn.metrics import precision_score

# Compute precision (macro average for multi-class)
prec_train = precision_score(y_train, y_train_pred, average='macro')
prec_test = precision_score(y_test, y_test_pred, average='macro')

print("Precision (Train):", prec_train)
print("Precision (Test):", prec_test)

Precision (Train): 0.9751928288513655
Precision (Test): 0.9696969696969697

## 11. Calculate and print the recall score for both the training and the testing set.

In [17]:
# Your code here : 

from sklearn.metrics import recall_score

# Compute recall (macro average for multi-class)
recall_train = recall_score(y_train, y_train_pred, average='macro')
recall_test = recall_score(y_test, y_test_pred, average='macro')

print("Recall (Train):", recall_train)
print("Recall (Test):", recall_test)

Recall (Train): 0.975
Recall (Test): 0.9666666666666667

## 12. Calculate and print the F1 score for both the training and the testing set.

In [18]:
# Your code here :

from sklearn.metrics import f1_score

# Compute F1 score (macro average for multi-class)
f1_train = f1_score(y_train, y_train_pred, average='macro')
f1_test = f1_score(y_test, y_test_pred, average='macro')

print("F1 Score (Train):", f1_train)
print("F1 Score (Test):", f1_test)

F1 Score (Train): 0.974996093139553
F1 Score (Test): 0.9665831244778612

## 13. Generate confusion matrices for both the training and the testing set.

In [19]:
# Your code here :

from sklearn.metrics import confusion_matrix

# Generate confusion matrices
cm_train = confusion_matrix(y_train, y_train_pred)
cm_test = confusion_matrix(y_test, y_test_pred)

print("Confusion Matrix (Train):\n", cm_train)
print("\nConfusion Matrix (Test):\n", cm_test)

Confusion Matrix (Train):
 [[40  0  0]
 [ 0 38  2]
 [ 0  1 39]]

Confusion Matrix (Test):
 [[10  0  0]
 [ 0  9  1]
 [ 0  0 10]]

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [20]:
# Have fun here !
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

models = {
    "Linear": model,  # from earlier
    "DecisionTree": DecisionTreeRegressor(random_state=42),
    "RandomForest": RandomForestRegressor(random_state=42),
    "SVR": SVR()
}

for name, m in models.items():
    m.fit(X_train, y_train)
    y_pred = m.predict(X_test)
    print(f"{name}: R2={r2_score(y_test, y_pred):.3f}, "
          f"MSE={mean_squared_error(y_test, y_pred):.3f}, "
          f"MAE={mean_absolute_error(y_test, y_pred):.3f}")

Linear: R2=0.950, MSE=0.033, MAE=0.033
DecisionTree: R2=0.900, MSE=0.067, MAE=0.067
RandomForest: R2=0.931, MSE=0.046, MAE=0.069
SVR: R2=0.933, MSE=0.044, MAE=0.158

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

models = {
    "Logistic": model,  # from earlier
    "DecisionTree": DecisionTreeClassifier(random_state=42),
    "RandomForest": RandomForestClassifier(random_state=42),
    "SVM": SVC()
}

for name, m in models.items():
    m.fit(X_train, y_train)
    y_pred = m.predict(X_test)
    print(f"{name}: Accuracy={accuracy_score(y_test, y_pred):.3f}")

Logistic: Accuracy=0.967
DecisionTree: Accuracy=0.933
RandomForest: Accuracy=0.900
SVM: Accuracy=0.967